
/*body {
  text-align: center;
}*/

#canvas{
  border:  1px solid black;
 margin-top: 10px; 
}
#game{
  justify-content:center;
  display: none;
  flex-direction: column;
  margin-left: 250px;
  margin-right: 250px;
}
#pageInitial {
  display: flex;
  justify-content: center;
}

#start-button {
font-size: 30px;
justify-content: center;
width: 300px;
margin-top: 30px;
}
#button-second-screen {
  display: flex;
  justify-content: space-around;
}

#restart-button {
display: none;
font-size: 20px;
justify-content: center;
width: 200px;
margin-top: 1px;
}
#menu {
  display: none;
  font-size: 20px;
  justify-content: center;
  width: 200px;
  margin-top: 1px;
  margin-left:1px;
  }
  .capa-jogo img{
    height: auto;
    width: 100%;
    margin-top: 10px;
  }
  .logo img {
    height: 50px;
    width: 50px;
  }
#owner {
  height: 530px;
}  
#owner a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 40px;
}
#owner img {
  border-radius: 100px;
}
#info-pessoal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40%;
  margin-top: 20px;
}
#icons {
  display: flex;
  justify-content: center;
  margin-top:40px;
}
.card {
  margin-top: 40px;
  margin-left: 20%;
  width: 690px;
}
.card1 {
  margin-top: 30px;
  margin-left: 52px;
  width: 24rem;
}
.card-body {
 border-radius: 5px;
}
.card p {
  text-align: justify;
}
.card-img {
 height: 620px;
}





